#wrapper {
    width: 600px;
    margin: 40px auto;
    font-size: 50px;
    text-align: center;
}

#wrapper-inner {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 30px;
    padding: 20px;
}

.win {
    background: limegreen;
}
.lose {
    background: palevioletred;
}

#counter {
    font-size: 150px;
}

.button {
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    width: 150px;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    background: yellow;
}

.button-container {
    width: 100%;
}

.button.selected {
    border-style: solid;
    border-color: deepskyblue;
}

.good {
    background: green;
}

.bad {
    background: red;
}